@import url('https://fonts.googleapis.com/css?family=Poppins');

.button {
  background-color: #f09b1c;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.25s;
  border-radius: 25px;
  display: "flex";
  align-items: center;
  font-family: 'Poppins';
}

.button:hover {
    background-color: #E48700;
    color: black;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
